@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*el cuerpo de la pagina*/
body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #5eba72;

}
/*contenedor de todo*/
.container {
    width: 850px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    gap: 70px;
    padding: 60px 40px;
    border-radius: 10px;
}
/*imagen del ahorcado*/
.hangman-box img {
    max-width: 300px;
}
/*el nombre del juego*/
.hangman-box h1 {
    font-size: 1.2rem;
    margin-top: 13px;
    text-align: center;
    text-transform: uppercase;
}
.hangman-box h6{
    font-size: 0.95rem;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
}

/*Puntajes*/
.hangman-box h5{
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.hangman-box h3{
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hangman-box h2{
    font-size: 0.7rem;
    margin-top: 3px;
    text-align: center;
    text-transform: uppercase;
}

/* los formatos de las letras sin adivinar*/
.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;

    
}
/*los cuadros sin adivinar*/
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}
/*las letras adivinadas*/
.word-display .letter.guessed{
    border-color: transparent;
    margin: -40px 0 35px;

}
/*el texto del tema y respuestas incorecta*/
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b{
    color: #f00;
}
/* las letras*/
.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal, .keyboard, .dificulty-button) button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: #5eba72;
    border-radius: 4px;
    text-transform: uppercase;
}
/*Botones de las letras para jugar*/
.keyboard button {
    padding: 7px;
    width: calc(100% / 9-5px);
}
/*los botones cuando se les pasa por encima*/
:where(.game-modal, .keyboard, .dificulty-button) button:hover {
    background: #82c99d;
}

/*pantalla de volver a jugar*/
.game-modal {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0 10px;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}
.game-modal.show{
    opacity: 1;
    pointer-events: auto;
}
.game-modal  .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.game-modal img{
    max-width: 170px;
    margin-bottom: 20px;
}
.game-modal h4 {
    font-size: 1.53rem;

}
.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;

}
.game-modal p b {
    color: #5E63BA;
    font-weight: 600;
}
.game-modal button{
    padding: 12px 23px;
}


/*dificultad del juego*/
.game-dificulty {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}
.game-dificulty.show{
    opacity: 1;
    pointer-events: auto;
}
.game-dificulty h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
.game-dificulty  .content-d {
    background: #fff;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
}
.game-dificulty h4{
    padding-bottom: 4px;
}

.game-dificulty button {
    padding: 5px 5px;
    font-size: 0.93rem;
}

.game-dificulty h2{
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
}

@media (max-width: 728px){
   .container{
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
   } 
   .hangman-box img {
    max-width: 200px;
   }
   .hangman-box h1 {
    display: none;
   }
}